body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkred;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}